:root {
  --carousel-transition-speed: 300ms;
  --carousel_button-bg: rgba(255, 255, 255, 0.8);
  --carousel-button-hover-bg: rgb(255, 255, 255);
  --carousel-button-color: #4a5568;
  --carousel-gap: 1rem;
  --carousel-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 .5rem;
  box-sizing: border-box;
}

.carousel-content {
  display: flex;
  align-items: center;
}

.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-slides {
  display: flex;
  gap: var(--carousel-gap);
  transition: transform var(--carousel-transition-speed) ease-in-out;
  will-change: transform;
}

.carousel-slide {
  width: calc((100% - 2 * var(--carousel-gap)) / 3);
  flex: 0 0 auto;
  box-sizing: border-box;
}

.carousel-button {
  position: absolute;
  z-index: 10;
  padding: 0.8rem;
  color: var(--carousel-button-color);
  background-color: var(--carousel_button-bg);
  border-radius: 50%;
  box-shadow: var(--carousel-shadow);
  transition: all 200ms ease;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-button:hover:not(.carousel-button-disabled) {
  background-color: var(--carousel-button-hover-bg);
}

.carousel-button-disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.carousel-button-prev {
  left: 0;
  transform: translateX(-50%);
  cursor: pointer;
}

.carousel-button-next {
  right: 0;
  transform: translateX(50%);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .carousel-container {
    padding: 0 2.5rem;
  }

  .carousel-slide {
    width: calc((100% - var(--carousel-gap)) / 2); 
  }

  .carousel-button {
    padding: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .carousel-container {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 480px) {
  .carousel-container {
    padding: 0 1.5rem;
  }

  .carousel-slide {
    width: 100%;
  }

  .carousel-button {
    padding: 0.6rem;
  }

  :root {
    --carousel-gap: 0.5rem;
  }
}
