.card-item {
  width: 28rem;
  height: 30rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin: 1rem;
  box-shadow: 0 10px 16px -6px rgb(5 5 5 / 30%), 0 25px 10px -24px rgb(5 5 5 / 10%);
}

a {
  text-decoration:none
}

.card-item h4 {
  font-family: 'Inconsolata', monospace;
}

.card-item p {
  font-family: 'Inconsolata', monospace;
  padding: 0 2rem;
  margin: 0;
}

.card-item img {
  width: 100%;
  height: 15.5rem;
  border-radius: 2rem 2rem 0 0;
}

.card-item .buttons-container {
  width: 100%;
  display: flex;
  gap: .5rem;
  justify-content: end;
  margin: 1.5rem;
  margin-right: 5rem;
}

.buttons-container .button {
  width: 5rem;
  height: 2rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Georama', sans-serif;
}

.buttons-container .button:hover {
  background-color: rgb(167, 137, 118, 0.5);;
}